<div class="form-group" [formGroup]="headerValidateForm">
  <label>Input head</label>
  <input type="text" class="form-control" formControlName="headerBaseName" [(ngModel)]="needValidate.header.headerBaseName">
  <v-message [control]="headerValidateForm.controls.headerBaseName"></v-message>

</div>
