<div [formGroup]="bodyValidateForm">
  <div class="form-group">
    <label>Input body</label>
    <input type="text" class="form-control" formControlName="bodyBaseName" [(ngModel)]="needValidate.body.bodyBaseName">
    <v-message [control]="bodyValidateForm.controls.bodyBaseName"></v-message>
  </div>
  <div formArrayName="addresses">
    <div class="form-group" *ngFor="let address of needValidate.body.addresses; let addressIndex = index">
      <div [formGroupName]="addressIndex">
        <label>Input address</label>
        <input type="text" class="form-control" formControlName="value" [(ngModel)]="address.value">
        <v-message [control]="bodyValidateForm.controls.addresses.controls[addressIndex].controls.value"></v-message>
      </div>
    </div>
  </div>
</div>
<button type="button" (click)="addAddress()">Add address</button>
