<h1>App</h1>
<div class="row" [formGroup]="validateForm">
  <div class="col-xs-6">
    <div class="form-group">
      <label>Input base</label>
      <input type="text" class="form-control" formControlName="baseName" [(ngModel)]="needValidate.baseName">
      <v-message [control]="validateForm.controls.baseName"></v-message>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-xs-6">
    <app-header [needValidate]="needValidate" [headerValidateForm]="validateForm.controls.header"></app-header>
  </div>
  <div class="clearfix"></div>
  <div class="col-xs-6">
    <app-body [needValidate]="needValidate" [bodyValidateForm]="validateForm.controls.body"></app-body>
  </div>
  <div class="clearfix"></div>
  <div class="col-xs-6">
    <button type="submit" [disabled]="!validateForm.valid">Submit</button>
  </div>
</div>
